<section class="totals sheet px-8" data-type="totals" data-overflow-scan>
    <%- include('header') %>

    <h3 class="heading font-bold text-lg">
        <%- section.title %>
    </h3>
    <% Object.keys(proposal._section_totals).forEach((recurrance) => { %>

        <div class="header grid grid-cols-[1fr_100px] py-0.5 px-1 bg-primary text-white font-bold">
            <div>
                Description
            </div>
            <div class="text-right">
                Total
            </div>
        </div>
        <div class="border-b border-black">
            <% proposal._section_totals[recurrance].forEach(section => { %>
                <div class="header grid grid-cols-[1fr_100px] py-0.5 px-1">
                    <div>
                        <%- section.title %>
                    </div>
                    <div class="text-right">
                        <%- new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(section.total) %>
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="header grid grid-cols-[1fr_100px] mb-12">
            <div class="py-0.5 px-1 font-bold text-right capitalize">
                <%- recurrance.toLowerCase().replace('_', ' ') %> Total
            </div>
            <div class="w-[100px] text-right bg-primary text-white py-0.5 px-1 font-bold">
                <%- new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(proposal._totals[recurrance].total) %>
            </div>
        </div>

    <% }) %>

    <div class="mt-12 pt-6 absolute bottom-16 left-0 mx-8">
        <h3 class="font-bold text-lg">Authorization</h3>
        <p class="text-sm text-gray-700 leading-relaxed">
            By signing below, the undersigned acknowledges that they have reviewed this proposal in its entirety, the undersigned fully understands its terms, conditions, and scope, and agree to proceed with the outlined work and costs. 
            This agreement represents a commitment to the terms as described, including any specified deliverables, timelines, and payment schedules if provided in this document.
        </p>
        

        <div class="grid grid-cols-1 gap-6 font-bold">
            <!-- Full Name -->
            <div class="grid grid-cols-[100px_1fr] mt-8 border-b border-black">
                <label for="full_name" class="block text-sm mr-2">Full Name</label>
                <div></div>
            </div>

            <!-- Signature -->
            <div class="grid grid-cols-[100px_1fr] mt-8 border-b border-black">
                <label for="full_name" class="block text-sm">Signature</label>
                <div></div>
            </div>

            <!-- Date -->
            <div class="grid grid-cols-[100px_1fr] mt-8  border-b border-black">
                <label for="full_name" class="block text-sm mr-2">Date</label>
                <div></div>
            </div>
        </div>
    </div>

    <%- include('footer', { page_number }) %>
</section>
